body {
    display: flex;
    flex-flow: column;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 16px 150px;
    padding-bottom: 96px;
}

.logo {
    font-family: Roboto,'Times New Roman', Times, serif;
    color:#eee;
    font-weight: 900;
    font-size: 24px;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 8px 150px;
    padding-bottom: 96px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 8px;
    flex-wrap: wrap;
    flex: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero{
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
}

img {
    max-width: 400px;
    height: auto;
    flex: auto;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 150px;
    padding-bottom: 96px;
}
.information-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 32px;
}

.information-container {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    gap: 52px;
}

.information .subtext {
    color:#1F2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.information img {
    width: 150px;
    height: 150px;
    border: solid #3882F6;
    border-radius: 16px;
    align-self: center;
}

.info {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 96px 150px;
    gap: 16px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.source {
    align-self: flex-end;
    font-weight: 900;
    font-size: 18px;
}

.action-call-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color:#E5E7EB;
    background-color: #3882F6;
    margin: 96px 150px;
    padding: 32px 96px;
    border-radius: 16px;
}

.call-to-action {
    font-weight: 900;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a, .subtext{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.info .subtext {
    text-align: center;
}

button {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 700;
    background-color: #3882F6;
    padding: 8px 16px;
    border-radius: 8px;
    align-self: flex-start;
}

#action-call-button {
    border: solid 2px #E5E7EB;
}

#hero-button {
    border: none;
}

.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 16px 150px;
}